<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        show_workouts();
      });

      function show_workouts() {
        $(".card-group").empty();

        $.ajax({
          type: "GET",
          url: "/api/list",
          data: {},
          success: function (response) {
            let workouts = response["workouts_list"];

            for (let i = 0; i < workouts.length; i++) {
              let workout = workouts[i];
              let img_url = workout["img_url"];
              let workout_title = workout["workout_name"];
              let workout_part = workout["workout_part"];

              let temp_html = `<div class="card-box" style="width:200px">
                                <img src="${img_url}" class="card-img" alt="...">
                                <div class="card-body">
                                <p class="card-text">${workout_title}</p>
                                <p class="card-text">${workout_part}</p>
                                </div>
                              </div>`;

              $(".card-group").append(temp_html);
            }
          },
        });
      }
    </script>

    <!-- CSS linked -->
    <link rel="stylesheet" type="text/css" href="./static/styles.css" />

    <title>Fitlog</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        Fitlog
      </a>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">Fitlog</h1>
      <p class="lead">
        Find your best exercise routines! <br />
        No idea about what workouts you should focus on today? Find out the best
        workout routine
      </p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">All exercise</button>
      <button type="button" class="btn btn-secondary">Chest</button>
      <button type="button" class="btn btn-secondary">Back</button>
      <button type="button" class="btn btn-secondary">Shoulder</button>
      <button type="button" class="btn btn-secondary">Leg</button>
      <button type="button" class="btn btn-secondary">Etc</button>
    </div>
    <div class="card-group"></div>
  </body>
</html>
