.jumbotron {
  background-color: #3d9970;
  color: white;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.card-group {
  text-align: center;
}
